@import url(styles/header.css);
@import url(styles/sobre.css);
@import url(styles/lista.css);
@import url(styles/vagas.css);
@import url(styles/card.css);
@import url(styles/colaboradores.css);

:root {
    --cor-de-fundo: #FFFFFF;
    --cor-verde: #3A404E;
    --cinza-claro: #667085;
    --cor-vinho: #8E2424;
    --cor-preta: #101828;
    --vinho-claro: rgba(142, 36, 36, 0.05);
    --fonte-principal: "Inter";
    --cor-borda: #EAECF0;
    --vinho-claro-secundario: rgba(195, 25, 25, 0.03);
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    margin: 0em 0em;
}

