.cabecalho__navegacao {
    display: flex;
    justify-content: space-between;
    font-family: var(--fonte-principal);
}

.navegacao__divisao {
    display: flex;
    align-items: center;
}

.texto__logo {
    color: var(--cor-verde);
    font-weight: 500;
    font-size: 18px;
}

.nav__links {
    text-decoration: none;
}

.navegacao__link, 
.nav__cinza {
    color: var(--cinza-claro);
    font-weight: 400;
    
}

.navegacao__botao__vinho {
    color: var(--cor-de-fundo);
    font-weight: 400;
    background-color: var(--cor-vinho);
    padding: 1em;
    border-radius: 8px;
}

.opcoes__direita {
    margin-right: auto;
}

.opcoes {
    gap: 1.5em;
}

.opcoes__principal {
    gap: .3em;
    margin-right: 8em;
}

.cabecalho {
    margin: 1em 4em 1em 4em;
} 

.navegacao__link:hover, .navegacao__botao:hover {
    color: var(--cor-vinho);
}

.navegacao__botao__vinho:hover {
    color: var(--cinza-claro);
}

.navegacao__link, .navegacao__botao, .navegacao__botao__vinho {
    font-weight: 500;
}
